.caixa {
    border-radius: 10px;
    padding: 2rem;

    font-size: 13px;
    color: var(--White);

    position: relative;
    z-index: 0;
    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.roxo {
    background-color: var(--Purple500);
}

.cinza {
    background-color: var(--Grey500);
}

.branco {
    background-color: var(--White);
    color: var(--Grey500);
}

.azul {
    background-color: var(--Darkblue);
    color: var(--Grey200);
}

.detalhe-roxo {
    display: none;
}

@media (min-width: 1439px) {
    .detalhe-roxo {
        display: initial;

        position: absolute;
        width: auto;
        height: auto;
        top: 0.3vh;  /* Ajuste conforme necessário */
        left: 25vw; /* Ajuste conforme necessário */  
        opacity: 1; /* Deixa a imagem mais transparente */
        z-index: -1; /* Mantém a imagem atrás do texto */
    }

    .caixa {
        transition: transform 0.4s ease-in-out;
    }
    
    .caixa:hover {
        transform: scale(1.05); /* Efeito sutil ao passar o mouse */
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15); /* Aumenta a sombra no hover */
    }

}